# Mac OS
**/.DS_Store

# Big files in christianity_semantic_change
christianity_semantic_change/contextual_embeddings/output/avg_emb_pretrained/*.h5
christianity_semantic_change/contextual_embeddings/output/avg_emb_finetuned/*.h5
christianity_semantic_change/contextual_embeddings/output/embeddings_pretrained/*.h5
christianity_semantic_change/contextual_embeddings/output/embeddings_finetuned/*.h5
christianity_semantic_change/contextual_embeddings/output/*.h5
christianity_semantic_change/contextual_embeddings/output/single_word_embeddings/*.h5
christianity_semantic_change/contextual_embeddings/SENT-fine-tuned-all-32b_2e_1e-5+32b_1e_5e-6/
christianity_semantic_change/contextual_embeddings/CHUNK-fine-tuned-all-32b_2e_1e-5/
christianity_semantic_change/contextual_embeddings/latin-bert-finetuned/
christianity_semantic_change/contextual_embeddings/embedding-extraction-scripts/gen_berts.py
christianity_semantic_change/contextual_embeddings/embedding-extraction-scripts/embeddings_pre-trained_noHF.py
christianity_semantic_change/contextual_embeddings/diagnose_h5.ipynb
christianity_semantic_change/contextual_embeddings/finetuned_latin_bert.tar
christianity_semantic_change/.vscode/

# Big files in neolatin
neolatin/bert_output/embeddings_finetuned/*.h5
neolatin/bert_output/avg_emb_finetuned/*.pickle
neolatin/model_1e-5_2epochs_32batch_NO-LEM/
neolatin/model_1e-5_2epochs_32batch_LEM/
