# Mac OS
**/.DS_Store

# Big files in Christianity_semantic_change
christianity_semantic_change_x/contextual_embeddings/output/*.pickle
christianity_semantic_change_x/contextual_embeddings/output/*.h5
christianity_semantic_change_x/contextual_embeddings/latin-bert-huggingface-finetuned/